 body{background-image: ("https://c0.wallpaperflare.com/preview/468/930/352/background-website-plant-wall.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
     background-size: cover;
background-color: beige;
}
#image1{ display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;}
h1{color: red;
text-align: center;
text-decoration: overline;}
#image2{ display: block;
    margin-left: auto;
    margin-right: auto;
margin-top: 150px;}
 #image3{ display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;}
#class1{color: red;
text-align: center;
font-size: x-large;
}
#class2{color: red;
    text-align: center;
    font-size: x-large;
    }
    #class3{color: red;
        text-align: center;
        font-size: x-large;
        }








